<h2>Validate Exam</h2>


<div class="form-horizontal">
    @using (Html.BeginForm("Validate", "ExamCores", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">

            <span class="control-label col-md-2">ZipArchive</span>
            <div class="col-md-7">
                <input type="file" name="FileUpload" class="btn btn-primary" onchange="chuj(this)" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"></span>
            <div class="col-md-7">
                <input type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-success hidden" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function chuj(input) {
        if (input.files.length == 0)
            $('#Submit').attr("class", "btn btn-success hidden");
        else
            $('#Submit').attr("class", "btn btn-success");
    }

</script>
